* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #EEE;
}

.container {
    max-width: 860px;
}

.main-banner {
    text-align: center;
    position: relative;
    transform: translateY(20vh);
    color: white;
}

.main-banner h1 {
    font-size: 36px;
}

.main-banner a:hover {
    color: white !important;
}

.main-banner p {
    font-size: 16px;
}

.jumbotron {
    height: 90vh;
    background: url('../images/splash.jpg');
    background-position-y: 20%;
    background-size: cover;
}

.navbar {
    background: #EEE;
    border-color: #EEE;
}

#navbar li {
    color: white;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #4C4C4C !important;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-header .navbar-brand {
    color: black;
}

a:hover {
    color: #666 !important;
}
