body {
    background-color: #EEE;
}

.container {
    max-width: 860px;
}
.main-banner {
    text-align: center;
    position: relative;
    transform: translateY(50%);
}

.main-banner h1 {
    font-size: 36px;
}

.main-banner p {
    font-size: 16px;
}

.jumbotron {
    height: 70vh;
    background: url('../images/triangles.png') center;
    background-size: cover;
}

.navbar {
    background: #EEE;
    border-color: #EEE;
}

#navbar li {
    color: white;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-header .navbar-brand {
    color: black;
}

